<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357255140464-rcn6n998f86bj973kf9pda83usdfns6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357255140464-rcn6n998f86bj973kf9pda83usdfns6n</string>
	<key>API_KEY</key>
	<string>AIzaSyBXeB5EDCFPk2AD8hKzvJkt9Lb84pLrVaw</string>
	<key>GCM_SENDER_ID</key>
	<string>357255140464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SoccerMap</string>
	<key>PROJECT_ID</key>
	<string>soccerfield-f656f</string>
	<key>STORAGE_BUCKET</key>
	<string>soccerfield-f656f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357255140464:ios:4d1ecaf6377d6c0e</string>
	<key>DATABASE_URL</key>
	<string>https://soccerfield-f656f.firebaseio.com</string>
</dict>
</plist>